@model EducationManagementStudio.Models.CustomPageModels.CustomPage

@using EducationManagementStudio.Models.CustomPageModels
@using EducationManagementStudio.Models.CustomContentModels

<h1>@Model.Title</h1>
<hr />

@await Html.PartialAsync("_CustomContent", Model.CustomPagesToCustomContents.OrderBy(cptcpc => cptcpc.Order).Select(cptcpc => cptcpc.CustomContent).ToList())

