@using EducationManagementStudio.Models.AccountModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool isSignedIn = SignInManager.IsSignedIn(User);
    var user = await UserManager.GetUserAsync(User);
}

@if (isSignedIn)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Witaj @user.FullName!</a></li>
        <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">Logowanie</a></li>
        <li><a asp-controller="Account" asp-action="RegisterStudent">Rejestracja</a></li>
    </ul>
}