@model List<EducationManagementStudio.Models.CourseModels.Course>

<h1>Start Page</h1>
<p class="lead">Welcome to EMS</p>
<hr />

<div class="list-group">
    @foreach (var course in Model)
    {
        <a asp-controller="Course" asp-action="View" asp-route-id="@course.Id" class="list-group-item">
            @course.Name
        </a>
    }
</div>

